<!--<?xml version="1.0" encoding="UTF-8"?>-->
<!--<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"-->
        <!--"http://mybatis.org/dtd/mybatis-3-mapper.dtd">-->
<!--&lt;!&ndash; namespace指用户自定义的命名空间。 &ndash;&gt;-->
<!--<mapper namespace="mappers.InsertMapper">-->

    <!--&lt;!&ndash;-->
        <!--id="save"是唯一的标示符-->
        <!--parameterType属性指明插入时使用的参数类型-->
        <!--useGeneratedKeys="true"表示使用数据库的自动增长策略-->
     <!--&ndash;&gt;-->
    <!--<insert id="saveUser" parameterType="pojo.User" useGeneratedKeys="true">-->
        <!--INSERT INTO user(ID,name,age)-->
        <!--VALUES(null,#{name},#{age})-->
    <!--</insert>-->


<!--</mapper>-->
